<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{DOCUMENT_ROOT}/install/index.php -f
    RewriteCond %{REQUEST_URI} !^/install/
    RewriteRule ^ - [F,L]
</IfModule>

<Files "*.txt">
    Require all denied
</Files>
<Files "*.json">
    Require all denied
</Files>
<Files "*.sql">
    Require all denied
</Files>
<Files "*.zip">
    Require all denied
</Files>
